{% extends "base.html" %}

{% block jsimport %}
<script src="http://felixsun.scripts.mit.edu/orgo/static/jquery-1.9.0.js"> </script>
<script>
setInterval(function() {
    $.ajax({
        type: "POST",
        url: "/orgo/homeMoleculeChanger/",
        data: {'random': 'blah'},
        success: function(data) {
            $("#molecule").html(data);
        },
    });
}, 3000);
</script>
{% endblock %}

{% block menuitems %}
<li class="active"><a href="/orgo/">Home</a></li>
<li><a href="#contact">About / FAQs</a></li>
{% endblock %}

{% block signin %}
<form action="/orgo/api/login/" method="post" class="navbar-form pull-right form-horizontal">{% csrf_token %}
    {% for field in logInForm %}
        {{field}}
    {% endfor %}
    <input type="submit" value="Sign in" class="btn"/>
</form>
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1> Hello world </h1>

    <div id="molecule">
    {{molecule|safe}} <!--The safe tag prevents character escaping -->
    </div>
</div>

{{debug|safe}}

<h2> Sign Up </h2>
<form action="/orgo/api/signup/" method="post" class="form-horizontal">{% csrf_token %}
    {{signUpForm.as_p}}
    <input type="submit" value="Submit" class="btn"/>
</form>

<h2> Forgot Password? </h2>
<form action="/orgo/api/resetPW/" method="post" class="form-horizontal">{% csrf_token %}
    {{resetPWForm.as_p}}
    <input type="submit" value="Reset" class="btn"/>
</form>

<h2> <a href="/orgo/namereagent/"> Try a problem </a> </h2>

{% endblock %}
