{% extends "base.html" %}
{% load orgo_filters %}
{% load bootstrap %}

{% block jsimport %}
<script src="http://felixsun.scripts.mit.edu/orgo/static/jquery-1.9.0.js"> </script>
<script type="text/javascript" src="http://felixsun.scripts.mit.edu/orgo/static/tufte-graph/raphael.js"></script>
<script type="text/javascript" src="http://felixsun.scripts.mit.edu/orgo/static/tufte-graph/jquery.enumerable.js"></script>
<script type="text/javascript" src="http://felixsun.scripts.mit.edu/orgo/static/tufte-graph/jquery.tufte-graph.js"></script>
{% endblock %}

{% block cssimport %}
<link rel="stylesheet" href="http://felixsun.scripts.mit.edu/orgo/static/tufte-graph/tufte-graph.css" type="text/css" media="screen" charset="utf-8" />
<style>
.tabbable {
    background-color:#F6F6F6;
}
.nav-tabs .active a {
    background-color:#F6F6F6!important;
}
#popup {
    background-color:white;
    position: absolute;
    left: -9999px;
    top: 100px;
    padding: 30px;
    border: solid;
}
div.whitebox {
    background-color:white;
    border-radius: 10px;
    margin:10px;
    padding:20px;
}

</style>
{% endblock %}

{% block scripts %}
<script>
function popup(){
    $("#popup").css("left", "300px");
}

function closePopup(){
    $("#popup").css("left", "-9999px");
}
</script>
{% endblock %}

{% block menuitems %}
<li class="active"><a href="/orgo/">Home</a></li>
<li><a href="#contact">About / FAQs</a></li>
<li><a href="/orgo/logout/">Logout</a></li>
<li><a href="#" onclick="popup()">Change Password</a></li>
{% endblock %}

{% block signin %}
<p class="navbar-text pull-right" style="color:#EEEEEE">
Welcome, {{name}}
</p>
{% endblock %}

{% block content %}

<div class="container">
<div class="row">



<div class="span6">
<div style="padding:20px; margin-top:10px;">
<h2> One-step Problems</h2>
<!--<form action = "/orgo/namereagent/resume/" method="post" class="form-horizontal">{% csrf_token %}-->
    <input type="submit" value="Resume old" name="namereagent_resume" class="btn" form="settingsForm"/>
<!--</form>-->
<!--<form action = "/orgo/namereagent/" method="post" class="form-horizontal">{% csrf_token %}-->
    <input type="submit" value="Generate new" name="namereagent_new" class="btn" form="settingsForm"/>
<!--</form>-->

<h2> Synthesis Problems</h2>
<!--<form action = "/orgo/renderSynthesis/resume/" method="post" class="form-horizontal">{% csrf_token %}-->
    <input type="submit" value="Resume old" name="synthesis_resume" class="btn" form="settingsForm"/>
<!--</form>-->
<!--<form action = "/orgo/renderSynthesis/" method="post" class="form-horizontal">{% csrf_token %}-->
    <input type="submit" value="Generate new" name="synthesis_new" class="btn" form="settingsForm"/>
<!--</form>-->

<h4> Load Saved</h4>
<!--Problem loader-->
<form action = "/orgo/loadSynthesisFromId/" method="post" class="form-horizontal">{% csrf_token %}
    <input type="text" placeholder="enter problem ID" name="Id">
    <input type="submit" value="Go" class="btn"/>
</form>
   

</div>
</div>



<div class="span6">
<div class="span6 whitebox">
<h2>Progress</h2>
<!--Graph-->
<table>
{{synthHighScore|safe}}
</table>

<div id="graph" class="graph" style="width:400; height:300">
</div>
<script>
$(document).ready(function(){
    $("#graph").tufteBar({
        data: {{graphData|safe}},
        axisLabel: function(index) {return this[1]},
        barLabel: function(index) {
            return Math.round(this[0]*100) + '&#37 ('+this[2]+'/'+this[3]+')'
        },
    });
    
});
</script>
        
        
<h4>Reaction Settings</h4>
<!--Settings checkboxes-->
<form action = "/orgo/renderProblem/" method="post" class="form-horizontal" id="settingsForm">{% csrf_token %}
{{ ChooseReagentsForm|bootstrap }}
</form>
</div>


<div class="span6 whitebox">
<h4>Help Others</h4>
</div>
</div>
</div>
</div>







<div class="container">
<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab"><h3>Synthesis Problems</h3></a></li>
        <li><a href="#tab2" data-toggle="tab"><h3>One-Step Problems</h3></a></li>
        <li><a href="#tab3" data-toggle="tab"><h3>Help Others</h3></a></li>
    </ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <h4> Load Shared Problem </h4>
        
    </div>
    
    <div class="tab-pane" id="tab2">
         
        
        <h2> How am I Doing?</h2>
        
    </div>
    
    <div class="tab-pane" id="tab3">
        <p>
        <a href="/orgo/chat/volunteertohelp"> Help others </a>
        </p>
    </div>

</div>
{{debug|safe}}
<div id="popup">
    <h2> Change Password </h2>
    <form action = "/orgo/api/changePW/" method="post" class="form-horizontal">{% csrf_token %}
        {{changePW.as_p}}
        <input type="submit" value="Change" class="btn"/>
    </form>
    <a href="#" onclick="closePopup()"> Cancel </a>
</div>
</div>
{% endblock %}



