<html>
<head>
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="http://felixsun.scripts.mit.edu/orgo/static/jquery-1.9.0.js"></script>
  <script src="http://felixsun.scripts.mit.edu/orgo/static/jquery-ui-1.10.0.custom.js"></script>
  <script src="http://felixsun.scripts.mit.edu/orgo/static/jquery-ui-1.10.0.custom.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://felixsun.scripts.mit.edu/orgo/static/jquery-ui-1.10.0.custom.min.css">
  <link rel="stylesheet" type="text/css" href="http://felixsun.scripts.mit.edu/orgo/static/jquery-ui-1.10.0.custom.css">
    <title>5.12 Synthesis Practice</title>
   <link rel="stylesheet" type="text/css" href = "http://felixsun.scripts.mit.edu/orgo/static/problemInterface.css"  />
    <script src = "http://felixsun.scripts.mit.edu/orgo/static/problemInterface.js"> </script>
  </head>
<body>


<div id = "offscreen">


<div id="topbar">
<img src = "http://felixsun.scripts.mit.edu/orgo/static/logo.png" id = "logo"/>

<!--Eventually, these will be css-ified into fancy menu things-->
<p>
<a href="/orgo/namereagent/"> Generate a new problem </a>

<a href="/orgo/" style="padding-left:20px"> Return to home </a>
</p>

<!--
<div class="box" id="generateProblemBox">
<form action = "/orgo/namereagent/" method="post" class="form-horizontal">{% csrf_token %}
    <input type="submit" value="Generate a new problem" class="btn"/>
</form>

<form action = "/orgo/" method="post" class="form-horizontal">{% csrf_token %}
    <input type="submit" value="Return to home" class="btn"/>
</form>
</div>
-->
<div class="box" id="namebox">
Welcome, {{Name}}
</div>

<div class="box" id="successbox">
</div>


</div>

<div id = "main">

<div id = "leftbar">



<div id = "startingMolecule" class = "molecule">
{{ReactantMolecule|safe}}
</div>

<div id="reactionsHere" class="reaction">
</div>

<div id="productMolecule">
</div>


</div>

<div id="rightbar">

<div id = "target">
<h2>Target Molecule:</h2>
{{TargetMolecule|safe}}
</div>

<div class="ui-widget" id="reagentTyper">
<button type="button" onclick="updateReagents()" id = "addReagent">Add Reagent</button>
<input id = "reagentTyperBox" />
</div>


<ul id="reagentsHere">
</ul>

</div>

</div>

</div>

</body>


</html>
